body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.link-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  width: 44px;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
}

.link-logo .logo {
  color: #2e2f42;
  width: 71px;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  margin-left: 77px;
}

.nav-item {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}
.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  justify-content: space-around;
}

.contacts-item {
  display: block;
  padding: 24px 0px 24px 20px;
}

.contacts-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  display: flex;
  justify-content: end;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.main-section {
  background-color: #2e2f42;
}
.main-title {
  color: #fff;
  font-size: 56px;
  text-align: center;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.07rem;
}
.section-button {
  background-color: #4d5ae5;
}

.button-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04rem;
}

.section-button:hover,
.section-button:focus {
  background-color: #404bbf;
}

.features-heading {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.025rem;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.045rem;
}

.team-item {
  background-color: #fff;
}
.team-heading {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.025rem;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.045rem;
}

.portfolio-heading {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.025rem;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

.page-footer {
  background-color: #2e2f42;
}

.page-footer .logo {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}
